body{
    background-color: black;
}
h1{
    text-align: center;
    font-size: 48px;
    color: white;
}
a{
    color: #FFB6C1;
}
.back{
    font-size: 24px;
    text-align: center;
    color: white;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
p{
    color: white;
    text-align: center;
}
.h3yellow{
    color: yellow;
}
h3{
    text-align: center;
    color: white;
}