body{
    background-color: black;
    text-align: center;
}
h1{
    text-align: center;
    font-size: 48px;
    color: white;
}

th{
    padding: 15px;
    text-align: center;
    color: white;
}
td{
    padding: 15px;
    text-align: center;
    color: white;
}
ol  {
    text-align: left;
    font-size: larger;
    color: white;
    display:inline-block;

}
a{
    color: #FFB6C1;
}

